@import "styles/media-queries";
@import "styles/variables.module";

.banner {
  &__container {
    width: 100%;

    img {
      display: block;
      height: auto;
      min-width: 100%;
    }
  }

  &__text {
    margin: 3.2rem 0;

    p {
      color: $color-gray
    }

  }
}
