@import "./../styles/variables.module";
@import "./../styles/media-queries";

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: $size-560;

  @include for_breakpoint(tablet) {
    display: block;
  }


  &__revert {
    grid-row: 2;
  }

  &__content {
    padding-top: $size-32;
    padding-bottom: $size-32;
  }

  &__content h2 {
    text-transform: uppercase;
    display: flex;
    grid-column: auto;
    align-items: baseline;
  }

  &__image {
    background-color: lightgoldenrodyellow;

    @include for_breakpoint(tablet) {
      width: inherit;
      height: 37rem;
    }
  }

  &__revert &__content {
    grid-row: 1;
  }

  &__description {
    margin-top: $size-40;
    margin-bottom: $size-40;
  }

  &__description h2 {
    margin-bottom: $size-40;
  }


}
