@import "../styles/variables.module";
$grid-gap: 4.2rem;

@media (max-width: $cellphone) {
    $grid-gap: 4.2rem;
}

@media (max-width: $tablet) and (min-width: $cellphone) {
    $grid-gap: 4.2rem;
}

@media (max-width: $laptop) and (min-width: $tablet) {
    $grid-gap: 3.2rem;
}

@media (max-width: $desktop) and (min-width: $laptop) {
    $grid-gap: 3.2rem;
}

.navbar {
    position: sticky;
    top: 0;

    &__fixed {
        background-color: $color-black;
        display: flex;
        justify-content: space-between;
        padding-top: $size-22;
        padding-bottom: $size-22;
    }

    &__links {
        color: $color-white;
        text-transform: uppercase;
        font-weight: lighter;
        display: grid;
        grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
        grid-gap: $grid-gap;
        margin: 0 auto;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__text {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img:hover {
            cursor: pointer;
        }
    }

    &__search {
        margin: auto auto;
    }

    &__search:hover {
        cursor: pointer;
    }

    &__container {
        display: grid;
        grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
        grid-column-gap: 12rem;
    }

    &__button {
        justify-self: flex-end;
    }

    &__extra {
        background-color: $color-white;
    }

    &__list {
        display: flex;
        justify-content: center;

        p {
            font-weight: 300;
            transition: $transition;
        }

        p:hover {
            cursor: pointer;
            font-weight: normal;
        }
    }

    &__input {

    }





}

