@import "../styles/variables.module";
$grid-gap: 4.2rem;
$grid-column-gap: 12rem;

.navbar {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 0;

    &__fixed {
        /*background-color: $color-black;*/
        padding-top: $size-22;
        padding-bottom: $size-22;
        transition: $transition;
        width: inherit;
    }

    &__links {
        display: grid;
        grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
        grid-gap: $grid-gap;
        margin: 0 auto;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__text {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img:hover {
            cursor: pointer;
        }
    }

    &__text[selected-label=true] {
        img {
            transform: rotate(180deg);
        }
    }

    &__search {
        margin: auto auto;
        min-width: fit-content;
    }

    &__search:hover {
        cursor: pointer;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        justify-self: flex-end;
    }

    &__extra {
        background-color: $color-white;
    }

    &__logo {
    }


    &__list {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-weight: 300;
            transition: $transition;
        }

        p:hover {
            cursor: pointer;
            font-weight: normal;
        }
    }

}

