@import "../styles/variables.module";
$grid-gap: 4.2rem;
$grid-column-gap: 12rem;

.navbar {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 0;

    &__fixed {
        /*background-color: $color-black;*/
        padding-top: $size-22;
        padding-bottom: $size-22;
        transition: $transition;
        width: inherit;
    }

    &__links {
        float: left;
        display: flex;
        min-width: fit-content;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__container_links_search {
        margin: 0 auto;
        display: flex;
    }

    &__text {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            @apply mr-10
        }

        img:hover {
            cursor: pointer;
        }
    }

    &__text[selected-label=true] {
        img {
            transform: rotate(180deg);
        }
    }

    &__search {
        min-width: 15%;
        img {
            margin: 0 auto;
        }
    }

    &__search:hover {
        cursor: pointer;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        justify-self: flex-end;
    }

    &__extra {
        background-color: $color-white;
    }

    &__logo {
    }


    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0;
        transition: $transition;

        p {
            font-weight: 300;
            transition: $transition;
        }

        p:hover {
            cursor: pointer;
            color: $color-yellow;
        }
    }

    &__list[data-active=true]{
        height: auto;
    }

    &__list[data-active=false]{
        p {
            display: none;
        }
    }

    &__container_search {
        height: 0;
        transition: $transition;
    }

    &__container_search[data-active=false] {
        form, input {
            height: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }


    &__container_search[data-active=true] {
        height: auto;

        form, input {
            height: auto;
        }
    }

}

