@import '../styles/variables.module';


.carousel__slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 65rem;

  &_title {
    color: $color-yellow;
  }

  &__container {
    padding-left: calc(($size-80 * 2) + $size-32);
    padding-right: $size-120;
  }

  &__container_button {
    padding-right: $size-100;
  }

}
