@import '../styles/variables.module';
@import '../styles/media-queries';


.carousel__slide {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include for_breakpoint(tablet) {
    grid-template-columns: 1fr;
    min-height: 61rem;
  }

  &_title {
    color: $color-yellow;
  }

  &__container {
    padding-left: calc((8rem * 2) + 3.2rem);

    @include for_breakpoint(tablet) {
      padding: 0 3rem;
      text-align: center;
    }
  }

  &__container_button {
    padding-right: $size-100;

    @include for_breakpoint(tablet) {
      padding-right: 0;
    }
  }

}
