@import "./../styles/media-queries";
@import "./../styles/spaces.module";

.cards {
  &__container {
    @apply container-x;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;

    @include for_breakpoint(tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @include for_breakpoint(mobile) {
      display: block;
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }

  button {
    height: 6.7rem;
  }

  &__button_container {
    @apply container-x;

    @include for_breakpoint(mobile) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
