@import "./../styles/media-queries";

.cards {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;

    @include for_breakpoint(tablet) {
      display: block;
    }
  }

  button {
    height: 6.7rem;
  }
}
