@import "../styles/variables.module";
@import "../styles/spaces.module";
@import "../styles/media-queries";


.layout {
  &__title {
    @apply container-large;
    background: $color-brown;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      @apply text-[#FEBD1D] font-bold leading-[large];
      font-size: 2rem;
    }
  }
}
