@import "variables.module";
@import "media-queries";

/*********SPECIAL TITLES******************/
//Big titles
//Yellow
.big-title {
  @apply text-9xl text-[#FEBD1D] font-bold leading-[large] mb-8 uppercase
}

.big-subtitle {
  @apply text-2xl text-[#FEBD1D] font-bold leading-[large] uppercase
}

//NavBar Fonts:
.header-labels {
  @apply text-base text-[#FFFFFF] font-[300] leading-large uppercase mr-7
}

.header-labels[selected-label=true] {
  @apply text-[#FEBD1D] underline
}

.header-list {
  @apply text-base text-[#2A2A2A] font-[300] leading-large capitalize mr-14
}

.header-list-lighter {
  font-size: 1.6rem;
  color: $color-white;
  font-weight: 300;
  text-transform: capitalize;
  margin-right: 3.5rem;
  line-height: 1.5;

  @include for_breakpoint(tablet) {
   text-transform: uppercase;
    margin-bottom: 4rem;
  }
}

/**************TAGS**********/
h2 {
  @apply text-7xl font-[600] leading-large mb-16
}

h3 {

}

