@import "variables.module";
@import "media-queries";

/*********SPECIAL TITLES******************/
//Big titles
//Yellow
.big-title {
  @apply text-9xl text-[#FEBD1D] font-bold leading-[large] mb-8 uppercase;
  @include for_breakpoint(tablet) {
    font-size: 3rem;
  }
}

.big-subtitle {
  @apply text-2xl text-[#FEBD1D] font-bold leading-[large] uppercase;

  p{
    @apply text-2xl text-[#FEBD1D] font-bold leading-[large] uppercase;
    @include for_breakpoint(tablet) {
      font-size: 1.4rem;
    }
  }
  @include for_breakpoint(tablet) {
    font-size: 1.4rem;
  }
}

//NavBar Fonts:
.header-labels {
  @apply text-base text-[#FFFFFF] font-[300] leading-large uppercase mr-7
}

.header-labels[selected-label=true] {
  @apply text-[#FEBD1D] underline
}

.header-list {
  @apply text-base text-[#2A2A2A] font-[300] leading-large capitalize mr-14
}

.header-list-lighter {
  font-size: 1.6rem;
  color: $color-white;
  font-weight: 300;
  text-transform: capitalize;
  margin-right: 3.5rem;
  line-height: 1.5;

  @include for_breakpoint(tablet) {
   text-transform: uppercase;
    margin-bottom: 4rem;
  }
}

/**************TAGS**********/
h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 4rem;
  @include for_breakpoint(tablet) {
    font-size: 3rem;
  }
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.5;

  @include for_breakpoint(tablet) {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 150%;
}

p{
  font-size: $size-16;
  font-weight: 400;
  line-height: 150%;
}

span {
  font-size: $size-12;
  font-weight: 300;
  line-height: 150%;
}

.title__border {
  border-bottom: $border;
  padding-bottom: $size-8;
  max-width: $size-560;
  margin-bottom: $size-8;

  h3 {
    text-transform: uppercase;
    margin: 0;
  }

  &_container span {
    font-size: $size-14;
    color: $color-gray;
    font-weight: bold;
  }
}

