@import "variables.module";
@import "buttons.module";
@import "inputs.module";
@import "containers.module";
@import "special-titles.module";

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

*:hover {
  transition: $transition;
}

// Fonts:

h1 {

}

h2 {
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 600;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.2rem;
}

p{
  font-size: $size-16;
  font-weight: lighter;
  line-height: 1.9rem;
}

span {
  font-size: $size-12;
  font-weight: 300;
  line-height: 1.5rem;
}

section {
  margin-top: 4rem;
}

section:first-of-type {
  margin-top: 0rem;
}

@media (min-width: 576px) {
  /*.container {
    max-width: 576px;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }*/
}
@media (min-width: 640px) {
  /*.container {
    max-width: 640px;
  }*/
}
@media (min-width: 1024px) {
/*  .container {
    max-width: 1024px;
    padding-right: 8rem;
    padding-left: 8rem;
  }*/
}
@media (min-width: 1280px) {
  /*.container {
    max-width: 1280px;
    padding-right: 8rem;
    padding-left: 8rem;
  }*/
}

.carousel-control-prev, .carousel-control-next {
  width: 11rem;
  justify-content: flex-end;

  span {
    background-color: $color-black-transparent;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    background-size: 0.8rem;
    background-position: center;
    background-blend-mode: multiply;

  }
}

.carousel-control-next {
  justify-content: flex-start;
  span {
    background-image: url("../public/images/next-arrow.png");
  }
}

.carousel-control-prev {
  span {
    background-image: url("../public/images/prev-arrow.png");
  }
}



.carousel-indicators {
  button {
    border-radius: 50%;
  }

  button.active {
    background-color: $color-yellow;
  }
}

.carousel-indicators [data-bs-target] {
  margin: 0 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
}

.container__body {
  position: absolute;
  top: 0;
}
