$breakpoints: (
        'phone': 320px,
        'tablet': 768px,
        'desktop': 1024px
) !default;

$phone: 420px;
$tablet: 768px;
$desktop: 1024px;

$media_queries : (
        'mobile'    : screen and (max-width: $phone),
        'tablet'    : screen and (min-width: $phone) and (max-width: $tablet),
        'desktop'   : screen and (min-width: ($tablet + 1)),
        'retina2'   : "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)",
        'retina3'   : "only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)",
        'landscape' : "screen and (orientation:landscape) ",
        'portrait'  : "screen and (orientation:portrait) "
);

@mixin for_breakpoint($breakpoints) {
  $conditions : ();
  @each $breakpoint in $breakpoints {
    $conditions: append(
                    $conditions,
                    #{inspect(map-get($media_queries, $breakpoint))}
    );
  }

  @media #{$conditions} {
    @content;
  }

}
