
// color
$color-yellow: #FEBD1D;
$color-brown: #2E2E2E;
$color-light-gray: #E4E4E4;
$color-black: #2A2A2A;
$color-white: #FFFFFF;
$color-gray: #555555;
$color-balance-gray: #898989;
$color-transparent: rgba(0,0,0,0);


// sizes:
$size-80: 80px;
$size-32: 32px;
