
// color
$color-yellow: #FEBD1D;
$color-brown: #2E2E2E;
$color-light-gray: #E4E4E4;
$color-black: #2A2A2A;
$color-white: #FFFFFF;
$color-gray: #555555;
$color-balance-gray: #898989;
$color-transparent: rgba(0,0,0,0);


// sizes:
$size-80: 8rem;
$size-52: 5.2rem;
$size-32: 3.2rem;
$size-22: 2.2rem;
$size-16: 1.6rem;
$size-8: 0.8rem;


//Transitions
$transition: all ease-in-out 0.3s;


//border
$border: solid 1px $color-yellow;
$border-gray: solid 1px $color-light-gray;
