//BR:
$cellphone: '640px';
$tablet: '768px';
$laptop: '1024px';
$desktop: '1480px';

// color
$color-yellow: #FEBD1D;
$color-brown: #2E2E2E;
$color-light-gray: #E4E4E4;
$color-black: #2A2A2A;
$color-white: #FFFFFF;
$color-gray: #555555;
$color-balance-gray: #898989;
$color-transparent: rgba(0,0,0,0);
$color-black-transparent: rgba(255, 255, 255, 0.5);

$line-height-multiplier: 1.25;

// sizes:
$size-560: 56rem;
$size-268: 26.8rem;
$size-120: 12rem;
$size-100: 10rem;
$size-80: 8rem;
$size-52: 5.2rem;
$size-40: 4rem;
$size-32: 3.2rem;
$size-24: 2.4rem;
$size-22: 2.2rem;
$size-16: 1.6rem;
$size-14: 1.4rem;
$size-12: 1.2rem;
$size-8: 0.8rem;


//Transitions
$transition: all ease-in-out 0.3s;


//border
$border: solid 1px $color-yellow;
$border-gray: solid 1px $color-light-gray;

//Hover effect:
$hover-effect: linear-gradient(rgb(0 0 0/20%) 0 0);
