@import "./../styles/media-queries";

.images {
 &__container {
   padding: 0 2rem;
   display: flex;
   flex-wrap: wrap;
   gap: 4.3rem;
   justify-content: center;
   position: relative;

   img {
     max-height: 10rem;
     width: auto;
   }



 }
}
